DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
DINGTALK_TOKEN=
DINGTALK_AES_KEY=
DINGTALK_OWNER_KEY=
DINGTALK_CLIENT_ID=
DINGTALK_CLIENT_SECRET=
QQ_BOT_APP_ID=
QQ_BOT_TOKEN=
QQ_BOT_SECRET=
